[submodule "third/srtp"]
	path = third/srtp
	url = https://github.com/cisco/libsrtp.git
    ignore = all
[submodule "third/curl"]
	path = third/curl
	url = https://github.com/curl/curl.git
[submodule "third/botan"]
	path = third/botan
	url = https://github.com/randombit/botan.git
	branch = release-3
