[submodule "third/curl"]
	path = third/curl
	url = https://github.com/curl/curl.git
        ignore = dirty
[submodule "third/botan"]
	path = third/botan
	url = https://github.com/randombit/botan
	branch = release-2
