*.a
*.d
*.o
*.pyc
*.pyo
*.so
*~
apps/py_sems/sip/*.cpp
apps/py_sems/sip/*.h
apps/py_sems/sip/Makefile.gen
core/etc/*.conf
core/etc/*.template
getarch
getos
sems
sems-stats
sems-logfile-callextract
cscope.out
cscope.files
semantic.cache
apps/rtmp/flash_phone/*.swf
core/plug-in/silk/SILK_SDK_*
core.*
*.patch
CMakeLists.txt.user
CMakeLists.txt.user.2.7pre1
apps/sbc/lc/yeti/Version.h
apps/sbc/lc/yeti/etc/oodprofile.yeti.dist.conf
apps/sbc/lc/yeti/etc/yeti.dist.conf
core/etc/sems.conf.dist
core/sems.h
apps/dsm/etc/*.conf
apps/http/etc/*.conf
build
debian/.debhelper
debian/debhelper-build-stamp
debian/files
debian/*.debhelper
debian/*.debhelper.log
debian/*.substvars
debian/libsems1
debian/libsems1-dev
debian/sems-sounds
debian/sems-modules-base
debian/tmp
