#!/usr/bin/make -f

#export DH_VERBOSE=1
export DEB_BUILD_OPTIONS:=$(DEB_BUILD_OPTIONS) nostrip reproducible=-fixfilepath

dh_args=--buildsystem=cmake+ninja --builddirectory=build --parallel
dh_opts=$(addprefix -O,$(dh_args))

%:
	dh $@ $(dh_args)

override_dh_strip:
	#do not strip binaries

override_dh_installsystemd:
	dh_installsystemd --no-start --no-stop-on-upgrade
