#!/usr/bin/make -f

#export DH_VERBOSE=1
export DEB_BUILD_OPTIONS:="$(DEB_BUILD_OPTIONS) nostrip"

dh_args=--buildsystem=cmake --builddirectory=build --parallel
dh_opts=$(addprefix -O,$(dh_args))

%:
	dh $@ $(dh_args)

override_dh_strip:
	#do not strip binaries

