[Unit]
Description=SEMS for YETI project
Documentation=https://yeti-switch.org/docs/
After=postgresql.service redis-server.service network-online.target

[Install]
WantedBy=multi-user.target

[Service]
User=root
LimitNOFILE=65536
LimitCORE=infinity

ExecStart=/usr/bin/sems -f /etc/sems/sems.conf
PIDFile=/run/sems.pid
Type=simple
Restart=on-abnormal
